 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Cloud</h2>
      <i class="devicon-amazonwebservices-original colored"></i>
      <i class="devicon-google-plain colored"></i>
      <p>{{site.tech_1}}</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <p>{{site.tech_2}}</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i> <img src="\assets\img\ansible.png" style="width:27%;height:20%;top:10px;position:relative;"> </i>
      <i class="devicon-linux-plain colored"></i>
      <p>{{site.tech_3}}</p>
    </div>
</div>
