<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="lil.sh" src="{{ "/assets/img/lilsh.png" | prepend: site.baseurl }}" style="padding-top:10%;" />
  </div>
  <div class="contents">
    <h3><a href="https://get.lil.sh">lil.sh</a></h3>
    <ul>
      <li>Serverless Framework</li>
      <li>Python</li>
      <li>Amazon S3</li>
    </ul>
    <p>lil.sh is a free and open source url shortener built on top of Amazon S3. View at <a href="https://lil.sh">https://lil.sh</a> </p>
    <a class="project-link" href="https://github.com/Beartime234/lil.sh">View Source</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Pokemon Rock Paper Scissors" src="{{ "/assets/img/pokemonrps.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Pokemon Rock Paper Scissors</h3>
    <ul>
      <li>Go</li>
      <li>Websockets</li>
      <li>Multiplayer</li>
      <li>AWS</li>
      <li>Serverless</li>
      <li>ReactJS</li>
    </ul>
    <p>This is a fun multiplayer game that you can play with your friends. I wanted to build this to learn the architecture/design of how you would build a multiplayer game.
      This game allows you to play a Pokemon Variant of Rock Paper Scissors with your friend by sending them a link. The game uses AWS API Gateway websockets to provide a real time
      playing experience and is a great way to resolve small decisions quickly!
    </p>
    <a class="project-link" href="https://pokemonrps.com">View Site</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Who's That Pokemon" src="{{ "/assets/img/whos_that_pokemon.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Who's That Pokémon</h3>
    <ul>
      <li>ReactJS</li>
      <li>Go</li>
      <li>Python</li>
      <li>CircleCI</li>
      <li>AWS</li>
      <li>Serverless</li>
    </ul>
    <p>This is a full stack website game created with a fully accessible API. You play the game based on the old Pokemon TV show
      where you guess what the Pokemon's name is based of its silhouette. The frontend is written in React and hosted on S3.
      The backend is a Golang Serverless API. The pokemon image gallery is created by a Python script which creates the silhouette images
      and stores them in a NoSQL table.</p>
    <a class="project-link" href="https://whosthatpokemon.xyz">View Site</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="pokequiz" src="{{ "/assets/img/pokequiz.png" | prepend: site.baseurl }}" style="padding-top:10%;" />
  </div>
  <div class="contents">
    <h3><a href="https://pokequiz.xyz">PokeQuiz</a></h3>
    <ul>
      <li>Serverless (AWS Lambda)</li>
      <li>Python</li>
      <li>DynamoDB</li>
      <li>Slack Integration</li>
    </ul>
    <p>PokeQuiz is a quiz based on Pokemon built direclty into slack. You can quiz people in your team direclty from Slack. PokeQuiz is entirely serverless using Python, AWS Lambda, DynamoDB and AWS API Gateway. It's currently not open source but will be soon. View at <a href="https://pokequiz.xyz">https://pokequiz.xyz</a> </p>
    <a class="project-link" href="https://github.com/Beartime234/slack-pokequiz">View Source</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Website Example" src="{{ "/assets/img/site.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>This Site</h3>
    <ul>
      <li>Jekyll</li>
      <li>AWS</li>
    </ul>
    <p>I initially created this website to be a blog about my work with AWS and Python. I decided instead to make it my frontpage/resume page and subdomain my eventual blog. I think it's pretty nice and simple to recreate.</p>
    <a class="project-link" href="https://github.com/Beartime234/josheaton-web">View Source</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="aws-mfa-entity-already-exists-fix" src="{{ "/assets/img/fixed.gif" | prepend: site.baseurl }}" style="padding-top:10%;" />
  </div>
  <div class="contents">
    <h3><a href="https://github.com/Beartime234/aws-mfa-entity-already-exists-fix">AWS MFA Entity Already Exists Fix</a></h3>
    <ul>
      <li>Lambda</li>
      <li>Cloudformation</li>
      <li>Open Source </li>
    </ul>
    <p>This is a small open source project that fixes an error that occurs when trying to create an MFA device when one already exists. Read the repo for more information.</p>
    <a class="project-link" href="https://github.com/Beartime234/aws-mfa-entity-already-exists-fix">View Source</a>
  </div>
</div>
